---
---

// Created by ge on 2/12/16
@import "reset.scss";
@import "img-default.scss";
@import "img-layouts.scss";
@include reset();

$sm-h: 645px;
$md-h: 855px;
.fixed-hero {
  .header-box, h1, p {
    transition: all 0.3s ease;
  }
}
@media (max-height: ($sm-h - 1px)) {
  .fixed-hero .header-box {
    max-width: 500px;
  }
  .fixed-hero h1 {
    font-size: 40px;
  }
  .fixed-hero p {
    font-size: 16px;
  }
}

@media (min-height: $sm-h) and (max-height: ($md-h - 1px)) {
  .fixed-hero .header-box {
    max-width: 700px;
  }
  .fixed-hero h1 {
    font-size: 60px;
  }
  .fixed-hero p {
    font-size: 21px;
  }
}

@media (min-height: $md-h) {
  .fixed-hero .header-box {
    max-width: 900px;
  }
  .fixed-hero h1 {
    font-size: 80px;
  }
  .fixed-hero p {
    font-size: 21px;
  }
}

@import "layouts";
body.page-container {
  // styles
  font-family: 'Gotham', sans-serif;

  // layout
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-hero {
  // styles
  h1 {
    color: #222;
    font-weight: 100;
  }
  p {
    color: #777;
    font-weight: 100;
  }

  // layouts
  position: fixed;
  height: 100%;
  width: 100%;
  @include flex-column-container();
  align-items: center;
  justify-content: center;
  .header-box {
    margin-bottom: 10%;
    @include flex-fixed();
    align-items: baseline;

    @include flex-row-container();
    h1 {
      @include flex-fixed()
    }
    p {
      margin-left: 10px;
      line-height: 1.3;
      @include flex-fluid()
    }
  }
}

.fixed-hero-shadow {
  height: 100%;
}
