// Created by ge on 2/16/16.
@import "full-width";
@import "mixins/layouts";

@mixin article-layout-base ($selector) {
  #{$selector} {
    position: relative;
    //@include flex-column-container();
    align-items: center;
    > * {
      //@include flex-fixed();
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@mixin article-layout-1-column ($selector, $width, $float-padding) {
    #{$selector} {
      > *:not(.full-width-block) {
        width: $width;
      }
      .float {
        margin-bottom: $float-padding;
      }
    }
}
@mixin width($width, $column-number, $width-column) {
  width: $width/$column-number*$width-column;
};
@mixin article-layout-grid ($column-number, $selector, $width, $float-padding) {
  #{$selector}.layout-#{$column-number}-column {
    box-sizing: border-box;
    > *:not(.full-width-block):not(.float) {
      width: $width;
      box-sizing: border-box;
    }
    .float {
      position: relative;
      margin-bottom: $float-padding;
    }
    .float.float-left {
      float: left;
    }
    > .float.float-left {
      left: calc(50% - #{$width/2} - #{$float-padding});
      margin-right: calc(50% - #{$width/2} );
    }
    @for $i from 1 through $column-number {
      .float-#{$i}-column {
        @include width($width, $column-number, $i);
      }
    }

  }
  @for $i from 1 through $column-number {
    $text-column-width: $column-number - $i;
    #{$selector}.layout-#{$column-number}-column.offset-#{$i}-column {
      > *:not(.full-width-block):not(.float) {
        padding-left: $width/$column-number*$i;
      }
      @for $j from 1 through $column-number {
        $float-width: percentage($j/$text-column-width);
        > * > .float.float-left.float-#{$j}-column {
          width: $float-width;
          left: calc( -#{$float-width} - #{$float-padding});
          margin-right: -$float-width;
        }
      }
    }
  }
}

@mixin article ($selector, $width) {
  #{$selector} {
    // typesetting
    font-family: Cambria, 'Gotham', sans-serif;
    //font-family: Georgia, Cambria, "Times New Roman", Times, serif;;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;

    // style
    color: rgba(black, 0.8);
    h1 {
      font-size: 300%;
      font-weight: 500;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    h2 {
      font-family: 'Gotham', sans-serif;
      font-size: 225%;
      font-weight: 700;
      margin-top: 1em;
    }
    h2 + h3 {
      margin-top: 0em;
    }
    h2 + p {
      margin-top: 1em;
    }
    h3 {
      color: rgba(black, 0.44);
      font-family: 'Gotham', sans-serif;
      font-size: 170%;
      font-weight: 200;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    p, .paragraph {
      margin-bottom: 1em;
    }
    .image {
      margin-bottom: 2em;
    }
    // inline stylings
    em {
      font-style: italic;
    }
    code {
      font-family: Consolas;
      font-size: 90%;
      color: #355e75;
      background-color: #eee;
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 3px 5px 0px;
    }
    //.image + p, .image + .paragraph, .image + h1, .image + h2, .image + h3, .image + dl {
    //  margin-top: 2em;
    //}

    dl {
      dt {
        color: #ccc;
      }
      dd {
        color: #666;
      }
    }
    .float img {
      width: 100%;
    }
    iframe {
      // iframe is inline by default per the html4 specification
      display: block;
    }
    figcaption{
      font-size: 90%;
      color: #333;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }
}
