---
---

// Created by ge on 2/17/16.
@import "full-width";

.page-container {
  background-color: #fafafa;
  //.post-list-container {
  //  background-color: #fafafa;
  //}
}

.post-list-container {
  // style
  .post-card-view {
    color: rgba(black, 0.8);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;

    box-shadow: 0 1px 4px rgba(black, 0.03);


    background-color: white;
    padding: 15px 15px;
    margin: 20px auto 20px auto;

    a {
      color: black;
    }

    h2, h3 {
      font-family: sans-serif, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;;
    }
    .image + h2 {
      margin-top: 15px;
    }
    h2 {
      margin-top: 0;
      color: rgba(black, 0.8);
      font-weight: 600;
      font-size: 31px;
      line-height: 1.12;
    }
    h3 {
      margin-top: 1px;
      color: rgba(black, 0.44);
      font-size: 24px;
      color: gray;
    }

    p, .paragraph {
      margin-top: 8px;
      line-height: 1.5;
    }

    .hint {
      font-size: 14px;
      color: #888;
      margin-top: 5px;
    }
  }

  // layout
  position: relative;
  padding: 30px 0;
  article.post-card-view {
    .image.full-width-block {

    }
  }


}

$article-width: 700px;
$sm-bp: $article-width / 0.9;
@media (min-width: $sm-bp) {
  .post-list-container {
    article.post-card-view {
      max-width: $article-width;
    }

  }
}
@media (max-width: ($sm-bp - 1px)) {
  .post-list-container {
    article.post-card-view {
      max-width: 90%;
    }
  }

}
