---
title: Ge Yang
layout: blog
---

{% include full-width-image-begin.html height="400px" src="/blog/argonne-national-lab-center-nano-material-2015-11-04.jpg" %}
<h1>What's Up with Ge?</h1>
<h2>A simple blog about what Ge is up to</h2>
{% include full-width-image-end.html %}

<div class="post-list-container">
    {% for post in site.posts limit:20000 %}
    <article class="post-card-view"><a href="{{ BASE_PATH }}{{ post.url }}">
        {% if post.snippet %}
        {% include full-width-image.html position=post.snippetPosition height=post.snippetHeight src=post.snippet %}
        {% endif %}
        <h2>{{post.title}}</h2>
        {{ post.excerpt }}
        <span class="hint">{{post.category}} {{post.tags}} {{ post.date | date_to_string }}</span>
    </a></article>
    {% endfor %}
</div>
