---
---
// Created by ge on 2/15/16.
@import "mixins/reset.scss";
@import "mixins/reset-extension.scss";
@import "mixins/img-default.scss";
@import "mixins/img-layouts.scss";
@include reset();
@include reset-extention();

@import "mixins/layouts";

@import "mixins/touch-scroll";
body.page-container {
  // styles
  font-family: 'Gotham', sans-serif;

  // layout
  position: relative;
  height: 100%; // needed for firefox to determine child element height correctly.
  width: 100%;
  @include touch-scroll(y);
  overflow-x: hidden;
}

$page-width: 900px;
.page-width-container {
  position: relative;
  max-width: $page-width;
  width: 100%;
  @include flex-row-container();
  @include flex-fixed();
}

@import "navbar.scss";

.post-content {
  padding-top: 50px;
}
@import "article.scss";
@include article('.post-content', 700px);
@include article-layout-base('.post-content');

//dl.float.float-left {
//  box-sizing: border-box;
//  padding-right: 15px;
//}

$xs-bp: 680px;
$sm-bp: 1000px;
@media (max-width: ($xs-bp - 1px)) {
  @include article-layout-1-column('.post-content', 85%, 30px);
}
@media (min-width: $xs-bp) and (max-width: ($sm-bp - 1px)) {
  @include article-layout-grid(12, '.post-content', 85%, 30px);
}
@media (min-width: $sm-bp) {
  @include article-layout-grid(12, '.post-content', $sm-bp*0.9, 30px);
}

.footer {
  font-family: 'Gotham', sans-serif;
  font-size: 13px;
  height: 70px;
  background-color: #f4f4f4;
  margin: 0;
  margin-top: 50px;
  width: 100%;
  color: #555;
  @include flex-column-container();
  align-items: center;
  justify-content: center;
  > * {
    @include flex-fixed();
  }
}
