$es-gray: #aaa;
$es-red: #ff0800;
$es-blue: #23aaff;
$es-yellow: #ff8d00;
$es-green: #5cb85c;

//$es-yellow-dark: darken($es-yellow, 0.15);
//$es-green: #42ce60;
//$es-black-dark: fade-out(black, 0.10);
//$es-black-light: fade-out(mix(black, white, 0.60), 0.0);
//$es-gray: fade-out(mix(gray, white, 0.15), 0.5);
//$es-gray-light: fade-out(mix(gray, white, 0.5), 0.5);
//$es-gray-dark: fade-out(black, 0.90);
//
//$es-blue-light: fade-out($es-blue, 0.95);
//$es-blue-dark: darken($es-blue, 0.15);
//
//$es-green-light: fade-out($es-green, 0.85);
//$es-green-dark: darken($es-green, 0.15);
//
//$es-white-dark: fade-out(white, 0.10);
//$es-white-light: fade-out(white, 0.20);
//$es-white-faint: fade-out(white, 0.60);

// shouldn't be used.
$brand-primary: #79b7e8;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
