<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0001, maximum-scale=1.0001">
    <link href="/posts/index.css" rel="stylesheet">
    <script src="/posts/index.js"></script>
    <link rel="stylesheet" href="/posts/syntax.css" type="text/css"/>
    <link rel="stylesheet" href="/blog/article-excerpt.css" type="text/css"/>
    <link rel="stylesheet" href="/blog/index.css" type="text/css"/>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body class="page-container">
    {% include navbar.html %}
    {{content}}
</body>
</html>